*~
/*.egg
/*.egg-info
/tmp
/app.ds*
/test
/robot_*
/*.png
/*.jpg
/*.xml
/*.log
/*.log.?
/*.swp
/.installed.cfg
/bin/
/dist/
/develop-eggs/
/parts/
/docs/doctrees
/docs/html
/docs/Makefile
/docs/make.bat
