<div class="page-header">
    <h1>{{ title(party) }}</h1>
</div>
<div>
    <div class="pull-right">Show items assigned to:
        <select name="target" ng-model="party" ng-selected="party" ng-options="p['first-name']+' '+p['last-name'] for p in people">
            <option value="">Nobody</option>
        </select>
    </div>
    <h3>{{ description(party) }} to-do items across all projects</h3>
</div>
<dl>
    <dt ng-show="(todos | filter:{'project-id':pr.id}).length" ng-repeat-start="pr in projects">
        <a ng-href="#/projects/{{ pr.id }}/todo_lists">{{ pr.name }}</a>
    </dt>
    <dd ng-repeat-end ng-show="(todos | filter:{'project-id':pr.id}).length">
    <dl>
        <dt ng-repeat-start="list in todos | filter:{'project-id':pr.id}">
            <a ng-class="{muted: list.completed}"
               ng-href="#/projects/{{ pr.id }}/todo_lists/{{ list.id }}">{{ list.name }}</a>
            <small>{{ list.description }}</small>
        </dt>
        <dd ng-repeat-end ng-show="list['todo-items'].length">
        <dl>
        <dd ng-repeat="item in list['todo-items']">
            <i ng-show="item.completed" class="todo-lists icon-completed" data-todolist-id="{{ list.id }}" data-todoitem-id="{{ item.id }}"></i>
            <i ng-hide="item.completed" class="todo-lists icon-uncompleted" data-todolist-id="{{ list.id }}" data-todoitem-id="{{ item.id }}"></i>
            <a ng-show="list.tracked" ng-href="#/projects/{{ pr.id }}/time_entries/todo_items/{{ item.id }}"><i class="icon-time"></i></a>
            <a ng-href="#/projects/{{ pr.id }}/todo_lists/{{ list.id }}/{{ item.id }}">{{ item.content }}</a>
        </dd>
        </dl>
        </dd>
    </dl>
    </dd>
</dl>
